.container-restaurantes {
  min-height: 100vh;
  position: relative;
}

.input-busca {
  width: 25rem;
  height: 2.3rem;
  margin: 4rem 0 0 66rem;
  padding: 11px 40px;
  border: none;
  border-radius: 20px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  background-color: #F5F5F5;
  position: relative;
  z-index: 3;
}

.input-busca:focus {
  outline: none;
  border: 2px solid black;
}

select {
  height: 2.5rem;
  width: 12.9rem;
  position: relative;
  top: 40px;
  left: 1320px;
  z-index: 2;
  padding: 11px 40px;
  border: none;
  border-radius: 20px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  background-color: #F5F5F5;
}

select:focus {
  outline: none;
  border: 2px solid black;
}

.ilustracao2 {
  position: absolute;
  z-index: 2;
}

.header-restaurantes {
  display: flex;
  height: 245px;
  width: 100%;
  border-bottom-right-radius: 232px;
  position: relative;
  padding: 147px 200px 0 350px;
  align-items: center;
  justify-content: space-between;
}

.avatar {
  width: 176px;
  height: 176px;
  border-radius: 50%;
  position: absolute;
  margin: 152px 112px;
  background-color: #ffffff;
  z-index: 3;
  cursor: pointer;
}

.logomarca {
  position: absolute;
  right: 140px;
  top: 60px;
  width: 170px;
}

.header-restaurantes h1 {
  font-family: "Baloo 2", cursive;
  color: white;
  padding: 0;
  margin-right: auto;
  font-size: 40px;
}

.header-restaurantes button {
  all: unset;
  color: white;
  cursor: pointer;
}

.conteudo-pagina {
  display: flex;
  flex-direction: column;
  padding: 100px 110px 57px 110px;
  align-items: center;
  min-height: calc(100vh - 245px);
  position: relative;
}

.conteudo-pagina p {
  text-align: center;
  color: #525459;
  line-height: 170%;
  margin-bottom: 32px;
}

.botao-modal {
  position: absolute;
  top: 56px;
  right: 300px;
  z-index: 3;
}

.container-cards {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
}

@media screen and (max-width: 1440px) {
  .input-busca {
    margin: 3rem 0 0 58rem;
  }

}

@media screen and (max-width: 1380px) {
  .conteudo-pagina {
    padding: 180px 65px 57px 65px;
  }

  .input-busca {
    margin: 3rem 0 0 53rem;
  }

  .container-cards {
    gap: 20px;
  }
}
  
  .informacao-card p {
    margin-bottom: auto;
    color: rgba(102, 20, 20, 0.87);
    text-align: start;
  }
  
  .informacao-card span {
    box-sizing: content-box;
    padding: 4px 15px;
    background: linear-gradient(
        0deg,
        rgba(13, 138, 79, 0.1),
        rgba(13, 138, 79, 0.1)
      ),
      #ffffff;
    border-radius: 4px;
    width: min-content;
    color: #006335;
    font-weight: 600;
    font-size: 10px;
  }
  
  .container-card img {
    width: 174px;
    height: 174px;
    border: 2px solid rgba(251, 59, 0, 0.2);
    border-radius: 16px;
  }
  
  .botoes-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
  }
  
  .botoes-card:hover {
    opacity: 1;
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(6px);
  }

  .div-titulo {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  